

<link rel="stylesheet" href="/css/home.css">

<section id="feed-posts">
   <% if(locals.user) { %>

    <h3>Hello <%= locals.user.name %> :) Post something cool! Now </h3>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content"  cols="30" rows="3" required></textarea>
        <input type="submit" value="Post">
     </form>
  
  <h4>Daily Posts</h4>
  <div id="post-list-container">
    <ul>
      <% for(post of posts){%>
        <%- include('_post') -%>
        <% }%>
    </ul>
  </div>
  
  <% } else { %>
    <div id="home-log-out">
    <h1>Hello!! sign-in  or sign-up to continue</h1>
    </div>
  <% } %>
</section>

<section id="user-friends">
 <h4>Friends</h4>
 <% for(u of all_users) { %>
  <p>
      <a href="/users/profile/<%= u._id %>"><%= u.name %></a>
  </p>
<% } %>
</section>

<%- include('_chat_box') -%>
<!-- <script src="/js/home_posts.js" charset="utf-8"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.2/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>

<% if(locals.user){ %>
<script>
  new ChatEngine('user-chat-box', '<%= locals.user.email %>');
</script>
<% } %>
  